* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
}

.portfolio-content-container {
    padding-top: 8%;
}

/* <noscript> message */
noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    z-index: 9999;
}

noscript p {
    max-width: 80%;
    text-align: center;
}

/* Loader CSS */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader::before {
    content: "";
    border: 4px solid #f3f3f3;
    border-top: 4px solid #C60036;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Navbar Section CSS */
.portfolio-navbar {
    padding: 1% 10%;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.portfolio-navbar.sticky {
    background-color: #333333;
}

.portfolio-navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-navbar-content ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.portfolio-navbar-content ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.portfolio-navbar-content ul li a:hover {
    color: #C60036;
}

.portfolio-navbar-content ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #C60036;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

.portfolio-navbar-content ul li a:hover:after {
    transform: scaleX(1);
}

.portfolio-navbar-title p {
    font-size: 25px;
}

.portfolio-navbar-title p::first-letter {
    color: #C60036;
    font-size: 40px;
}

.portfolio-navbar-content .fas {
    display: none;
}

/* Home Section CSS */
.portfolio-home-section {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    animation: fadeInUp 2s ease-out;
    margin-top: 15%;
}

.portfolio-home-section p,
.portfolio-home-section h1 {
    font-size: 30px;
}

.portfolio-red-text {
    font-size: 30px;
    color: #C60036;
}

.portfolio-home-left {
    flex: 1;
    float: left;
}

.greetings-clock {
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;

    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.portfolio-home-right {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    float: right;
}

.portfolio-home-right i {
    margin-right: 10px;
}

#txt {
    font-size: 24px;
}

.portfolio-home-left {
    width: 70%;
    flex: 1;
}

.portfolio-home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #333;
    margin: 0 auto;
    font-size: 24px;
}

.tech-skills {
    display: flex;
    justify-content: center;


    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.tech-skills-icons {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.tech-skills-heading {
    margin-right: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.tech-skills-icons i {
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.tech-skills-icons i:hover,
.tech-skills-icons svg:hover {
    transform: translateY(-10px);
}

.tech-skills-icons svg {
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top i {
    font-size: 24px;
    transition: color 0.3s;
}

/* About Section CSS */
.portfolio-about-section h1 {
    font-size: 40px;
    font-weight: 600;
    color: #C60036;
}

.portfolio-about-section p {
    margin-top: 30px;
    line-height: 1.6;
}

.portfolio-about-section {
    margin: 10%;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul {
    display: flex;
    flex-direction: column;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    margin-top: 20px;
}

.data-analytics,
.web-developement {
    color: #C60036;
}

.sub-title {
    display: block;
    margin-top: 20px;
}

.experience-details {
    margin-top: 10px;
    line-height: 1.6;
}

.portfolio-about-section ul {
    list-style: none;
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.portfolio-about-content li {
    position: relative;
}

.portfolio-about-content li:hover {
    color: #C60036;
}

.portfolio-about-content li span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #C60036;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

.portfolio-about-content li:hover span::after {
    transform: scaleX(1);
}

.portfolio-about-content .tab-item {
    position: relative;
}

.portfolio-about-content .tab-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

.portfolio-about-content .active-link {
    color: #C60036;
}

.portfolio-about-content .active-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    transform: scaleX(1);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

/* Services Section CSS */
.portfolio-services-section h1 {
    font-size: 40px;
    font-weight: 600;
    color: #C60036;
}

.portfolio-services-section {
    margin: 10%;
}

.portfolio-services-list {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.portfolio-services-list div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333333;
    padding: 40px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    margin-right: 20px;
    flex: 1;
}

.portfolio-services-list p {
    margin-top: 30px;
    line-height: 1.5;
}

.portfolio-services-list h2 {
    display: flex;
    align-items: center;
}

.portfolio-services-list i {
    margin-right: 10px;
    max-width: 40px;
    max-height: 40px;
}

.portfolio-services-list a {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.portfolio-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: auto;
}

.portfolio-link:hover {
    color: #C60036;
}

.portfolio-services-list a:hover {
    color: white;
}

.portfolio-services-list div:hover {
    background-color: #C60036;
    transform: translateY(-10px);
}

/* Contact Me Section CSS */
.portfolio-contact-section h1 {
    font-size: 40px;
    font-weight: 600;
    color: #C60036;
}

.portfolio-contact-section {
    margin: 10%;
}

.contact-left h1 {
    font-size: 40px;
    font-weight: 600;
    color: #C60036;
}

.social-media-icons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
}

.contact-details {
    display: flex;
    flex-direction: row;
}

.contact-left {
    width: 35%;
}

.contact-left a {
    text-decoration: none;
    color: white;
}

.contact-right {
    width: 65%;
    padding-left: 20px;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    margin-right: 15px;
    color: #C60036;
    font-size: 25px;
}

.social-media-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-media-icons a:hover {
    transform: translateY(-5px);
}

.fa-linkedin-in:hover {
    color: #0072b1;
}

.btn.cv-btn,
.submit-btn {
    background-color: #C60036;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.btn.cv-btn:hover,
.submit-btn:hover {
    background-color: #c60036;
}

.portfolio-contact-right form {
    width: 100%;
}

form {
    margin-top: 10%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #333333;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

/* Footer Section CSS */
.portfolio-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333333;
    font-weight: 300;
}

.portfolio-footer-content a {
    color: white;
    text-decoration: none;
}

.portfolio-footer-content a:hover {
    color: #C60036;
    position: relative;
}

.portfolio-footer-content a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #C60036;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

.portfolio-footer-content a:hover:after {
    transform: scaleX(1);
}

/* Media Queries */
@media only screen and (min-width: 1011px) and (max-width: 1245px) {

    .portfolio-home-right i,
    .portfolio-home-right,
    #txt {
        font-size: 26px;
    }

    .portfolio-home-left {
        margin-top: 60px;
        text-align: center;
    }

    .greetings-clock {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25%;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    #clock {
        position: relative;
        bottom: 2px;
    }
}

@media only screen and (min-width: 930px) and (max-width: 1011px) {
    .portfolio-home-left {
        margin-top: 30px;
        text-align: center;
        margin-right: 19%;
    }

    #clock {
        position: relative;
        bottom: 4px;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    form {
        margin-top: 18%;
    }

    .portfolio-contact-left {
        width: 65%;
        padding-top: 7px;
        margin-left: 80px;
    }

    .portfolio-contact-right {
        width: 35%;
    }

    .portfolio-about-section ul {
        margin-top: 6%;
    }

    .contact-right {
        width: 60%;
    }

    .contact-left {
        width: 40%;
    }

    .greetings-clock {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25%;
    }
}

@media only screen and (min-width: 821px) and (max-width: 930px) {

    .portfolio-contact-left,
    .portfolio-contact-right {
        margin: 30px 0;
    }

    .portfolio-about-section ul {
        margin-top: 6%;
    }

    .portfolio-contact-left {
        width: 35%;
    }

    .portfolio-contact-right {
        width: 65%;
        padding-top: 7px;
        margin-left: 80px;
    }

    .portfolio-about-section ul {
        margin-top: 6%;
    }

    .portfolio-contact-section h1 {
        font-size: 38px;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-right {
        padding: 0;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    .portfolio-home-left {
        margin-top: 60px;
        text-align: center;
    }

    .portfolio-services-list div {
        margin-right: 0;
    }

    .greetings-clock {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16%;
    }
}

@media only screen and (min-width: 710px) and (max-width: 821px) {
    .portfolio-home-left {
        margin-top: 60px;
        text-align: center;
        margin-right: 3%;
    }

    #clock {
        position: relative;
        bottom: 4px;
    }

    .greetings-clock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12%;
    }

    .portfolio-navbar-content .fas {
        display: block;
        font-size: 25px;
    }

    .portfolio-navbar-content ul {
        background: #1a1a1a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    .portfolio-navbar-content ul li {
        display: block;
        margin: 25px;
    }

    .portfolio-navbar-content ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-right {
        padding: 0;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    .tech-skills-heading {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .portfolio-services-list div {
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 710px) {
    .portfolio-navbar-content .fas {
        display: block;
        font-size: 25px;
    }

    .portfolio-navbar-content ul {
        background: #1a1a1a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    .portfolio-navbar-content ul li {
        display: block;
        margin: 25px;
    }

    .portfolio-navbar-content ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .portfolio-home-left {
        margin-top: 60px;
        text-align: center;
    }

    .greetings-clock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6%;
    }

    .portfolio-about-section ul {
        margin-top: 8%;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    .portfolio-services-list div {
        margin-right: 0;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-right {
        padding: 0;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .tech-skills-heading {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .portfolio-navbar-content .fas {
        display: block;
        font-size: 25px;
    }

    .portfolio-navbar-content ul {
        background: #1a1a1a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    .portfolio-navbar-content ul li {
        display: block;
        margin: 25px;
    }

    .portfolio-navbar-content ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .portfolio-home-left {
        margin-top: 35%;
        text-align: center;
    }

    .portfolio-home-right,
    #clock,
    #txt {
        font-size: 18px;
    }

    .greetings-clock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8%;

    }

    .portfolio-about-section ul {
        margin-top: 8%;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    .portfolio-services-list div {
        margin-right: 0;
        margin-top: 30px;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-right {
        padding: 0;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        margin-bottom: 20px;
    }

    #clock {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 4px;
    }

    .portfolio-home-section h1,
    .portfolio-red-text,
    .typing-animation {
        font-size: 20px;
    }

    .tech-skills-heading {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .portfolio-navbar-content .fas {
        display: block;
        font-size: 25px;
    }

    .portfolio-navbar-content ul {
        background: #1a1a1a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    .portfolio-navbar-content ul li {
        display: block;
        margin: 25px;
    }

    .portfolio-navbar-content ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .portfolio-home-left {
        margin-top: 35%;
        text-align: center;
    }

    .portfolio-home-right,
    #clock,
    #txt {
        font-size: 18px;
    }

    .greetings-clock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
    }

    .portfolio-about-section ul {
        margin-top: 8%;
        font-size: 18px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 2.6;
        margin: 6px;
    }

    .tech-skills-icons i {
        margin-top: 15px;
    }

    .data-analytics,
    .web-developement {
        font-size: 25px;
    }

    .portfolio-services-list {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        margin-top: 20px;
    }

    .portfolio-services-list div {
        margin-right: 0;
        margin-top: 30px;
        padding: 15px;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-right {
        padding: 0;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        margin-bottom: 20px;
    }

    #clock {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 4px;
    }

    .portfolio-home-section h1,
    .typing-animation {
        font-size: 17px;
    }

    .tech-skills-heading {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .portfolio-content-container {
        padding-top: 50%;
    }

    .portfolio-content-container p {
        font-size: 16px;
    }

    .contact-left p i {
        font-size: 15px;
    }

    .social-media-icons a {
        font-size: 25px;
    }
}